#firstdiv{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

#secondDiv{
 height: 180px;
 width: 50px;
 border: 2px solid black;
 margin: 10px;
}

#inner1{
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 10px;
    background-color: red;
}

#inner2{
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 10px;
    background-color: yellow;
}

#inner3{
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 10px;
    background-color: green;
}